@import "tailwindcss";

section:nth-child(even) {
 background-color: var(--dark-cream);
}

section:nth-child(odd) {
 background-color: var(--cream);
}

p {
 font-family: var(--secondary-font);
}

button {
 cursor: pointer;
 font-family: var(--primary-font);
 font-size: 1rem;
 font-weight: 400;
}