---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/layouts/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Popular from "@/components/Popular.astro";
import CTA from "@/components/CTA.astro";
import Header from "@/components/Header.astro";
import Results from "@/components/Results.astro";
import About from "@/components/About.astro";
import Footer from "@/components/Footer.astro";
import Storytelling from "@/components/Storytelling.astro";
---

<Layout>
  <Header />
  <Hero />
  <main>
    <SectionContainer id="about">
      <About />
    </SectionContainer>
    <SectionContainer id="services">
      <Services />
    </SectionContainer>
    <Storytelling />
    <SectionContainer id="popular">
      <Popular />
    </SectionContainer>
    <SectionContainer id="results">
      <Results />
    </SectionContainer>
    <SectionContainer id="CTA">
      <CTA />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
