---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../layouts/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Expert from "../components/Expert.astro";
import Services from "../components/Services.astro";
import Gift from "../components/Gift.astro";
import Popular from "../components/Popular.astro";
import CTA from "../components/CTA.astro";
---

<Layout>
  <main>
    <Hero />
    <SectionContainer id="expert">
      <Expert />
    </SectionContainer>
    <SectionContainer id="services">
      <Services />
    </SectionContainer>
    <SectionContainer id="gifts">
      <Gift />
    </SectionContainer>
    <SectionContainer id="popular">
      <Popular />
    </SectionContainer>
    <SectionContainer id="CTA">
      <CTA />
    </SectionContainer>
  </main>
</Layout>
