<div class="my-24 flex flex-col items-center text-center">
  <h4 class="text-3xl text-[var(--dark-gray)] mb-10">
    Ready for a radiant you?
  </h4>
  <button
    class="inline-block btn-cta bg-[var(--bg-button-primary)] text-white py-4 rounded-lg hover:bg-[var(--btn-hover)] text-base transition duration-300"
  >
    BOOK YOUR CONSULTATION
  </button>
</div>

<style>
  button {
    min-width: min(400px, 100%);
  }
</style>
