---
import {Image} from "astro:assets";
import modelLayingDown from "../assets/images/model_laying_down.webp";
---

<div class="flex flex-col md:flex-row gap-12 md:gap-36">
  <div class="flex-1">
    <div
      class="flex flex-col justify-center items-center text-[var(--dark-gray)] h-full"
    >
      <h4 class="text-3xl mb-6 mt-10">Gift Ideas That Last Longer</h4>
      <p class="md:mb-10">
        Delight your loved ones with the gift of beauty. Elegant gift cards
        available for all treatments
      </p>
    </div>
  </div>
  <div class="flex-1 md:my-12 mb-6">
    <Image
      src={modelLayingDown}
      alt={"Modelo aplicándose un tratamiento para la piel"}
      class="h-full object-cover"
    />
  </div>
</div>
