---
import Result from "./Result.astro";
---



<section id="results" class="fade-in my-12">
  <h2 class="section-title">Results & Reviews</h2>
  <p class="section-subtitle">
    Experience the transformative yet natural results and hear from patients who
    have renewed their confidence with us.
  </p>
  <div class="mt-16 space-y-16">
    <Result />
    <Result />
    <Result />
  </div>
</section>


