---
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/open-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Medicina estética y antienvejecimiento</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --primary-font: "Playfair Display Variable", system-ui, serif;
    --secondary-font: "Open Sans Variable", system-ui, sans-serif;
    --light-cream: #f7f0e8;
    --dark-cream: #e0cfbb;
    --cream: #e7d9c7;
    --bg-button-primary: #bc8f2b;
    --bg-color-image: #b99364;
    --bg-icon: #ddccb7;
    --dark-gray: #2f2f2f;
    --light-gray: #4b4b4b;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--primary-font);
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    overscroll-behavior: none;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      scroll-behavior: auto;
    }
  }
</style>
