---
const {class: className = "", id} = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section section-container scroll-m-20 w-full grid place-items-center ${className}`}
>
  <div class="lg:max-w-4xl md:max-w-3xl sm:max-w-xl mx-auto w-full">
    <slot />
  </div>
</section>
